# Node.js files
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Exclude TypeScript configuration and other build files
tsconfig.json
*.js
*.js.map

# Include only the distributable code
!dist/

# Exclude TypeScript declaration files
types/

# Source and example files
/src/
/example/

# Source control files
.git/
.gitignore

# IDE and editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Miscellaneous
.DS_Store
Thumbs.db
